.header * {
  color: #344563;
  font-size: 15px;
}

.hero-section {
  background-image: url("../assets/header-vector.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 72px 0;
}

.hero-section__intro {
  padding: 160px 0;
  gap: 24px;
}

.hero-section_lead {
  line-height: 32px;
  color: #172b4d;
}

.hero-section_heading {
  color: #172b4d;
  font-size: 48px;
  line-height: 60px;
}

.hero-section_heading .sub-heading {
  color: #36b37e;
}

.scroll-down-btn {
  margin-top: 70px;
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  background-color: white;
  border-radius: 50%;
}

.works {
  padding: 80px 0;
}

.works-div {
  max-width: 1180px;
}

.work-card {
  background-color: #fff;
  margin-top: -5px;
}

.work-title {
  font-size: 24px;
  font-weight: 600;
}

.work-badges_list {
  font-size: 12px;
  font-weight: 600;
}

.about {
  overflow-x: hidden;
}

.about .p-wrapper {
  position: relative;
}

.about .p-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -65px;
  height: 56px;
  width: 126px;
  background-image: url(../assets/about-left.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.about .p-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -80px;
  height: 127px;
  width: 100px;
  background-image: url(../assets/about-right.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.about-desc {
  max-width: 900px;
  font-size: 20px;
}

.about-div {
  background-color: #ebf0ee;
  height: 100%;
}

.about-div-div {
  background-color: #fff;
  width: 80px;
  height: 80px;
}

.about-div-div-div {
  background-color: #ebf0ee;
}

.about-h5 {
  font-size: 24px;
  font-weight: 600;
}

.about-ul {
  font-size: 12px;
  font-weight: 600;
}

.about-container-div {
  max-width: 1180px;
}

.form-section {
  padding: 120px 100px 250px 100px;
  background-image: url(../assets/form-section.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left bottom;
}

.form-section .form {
  gap: 24px;
}

.form-section .submit {
  width: max-content;
}

.form-section_heading {
  color: #172b4d;
  font-size: 30px;
  line-height: 52px;
}
